* {
    box-sizing: border-box;
}

body {
    font-family: Cambria;
    margin: 0;
    padding: 0;
    font-size: 17px;

}

.header {
    max-width: 80%;
    margin: auto;
    padding-top: 10px;
    text-align: left;
    color: white;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header img {
    vertical-align: 50%;
    margin-left: 20px;
    width: 120px;
    height: auto;
}

.header h1 {
    margin-top: 7px;
    margin-left: 20px;
}

.header h2 {
    margin-top: -6px;
    margin-left: 20px;
}

.favbar {
    max-width: 80%;
    margin: auto;
    overflow: auto;
    top: 0;
}

.favbar a {
    transition-duration: 0.5s;
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

.favbar a:hover {
    background-color: #00618d;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.submenu {
    height: 43px;
    margin:auto;
    padding-left: 10%;
}

.submenu a{
    text-decoration: none;
    color: white;
}
.submenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 2;
}


.submenu ul li {
    color: #fff;
    display: inline-block;
    width: 200px;
    padding: 12px 12px;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

.submenu ul li:hover {
    cursor: pointer;
    background-color: #006991;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}


.navbar {
    margin:auto;
    max-width: 80%;
}

.navbar a {
    text-decoration: none;
    color: white;

}



.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.navbar ul li {
    color: #fff;
    display: inline-block;
    width: 200px;
    padding: 12px 12px;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    z-index: 1;
}

.navbar ul li:hover {
    cursor: pointer;
    background-color: #00507b;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.navbar ul li:hover > ul {

    visibility: visible;
    background-color: #00618d;
    display: block;
    z-index: 1;
}

.navbar ul li ul {
    width: 100%;
    visibility: hidden;
    opacity: 1;
    position: absolute;
    margin-top: 12px;
    left: 0;
    float: top;
    display: block;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0);
    z-index: 1;

}



.navbar ul li ul li {
    display: block;
    width: 100%;
    opacity: 1;
    padding: 10px 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

}


.navbar ul li ul li:hover {
    cursor: pointer;
    background-color: #00507b;
}

.fasmat{
    background-color: #d873a6;


}

.content_background {
    background-color: white;
    width: 100%;

}

.content {
    margin: auto;
    width: 80%;
    padding-top: 2%;
    text-align: center;
    height: 1200px;
}

.footer {
    text-align: left;
    background: #00618d;
    color: #fff;
    font-size: 12px;
    position: absolute;
    margin-bottom: 0;
    width: 100%;
}

@media screen and (max-width: 1600px) {
    .fasmat {
        float: left;
    }
}

@media screen and (max-width: 1010px) {
    .logo {
        display: none;
    }



    .favbar a {
        padding: 10px 8px;
    }

}

@media screen and (max-width: 680px) {
    .favbar a {
        padding: 10px 6px;
    }

    .header h2, .header img {
        display: none;
    }
}

.przycisk_zaklady {
    cursor: pointer;
    background-color: #00618d;
    border-color: #00618d;
    width: fit-content;
    height: fit-content;
}

.przycisk_zaklady:hover {
    background-color: #00507b;
    border-color: #00507b
}

.tg {
    width: 100%;
    height: 100%;
    vertical-align: center;
    border-style: solid;
    border-collapse: collapse;
    overflow: hidden;
    background-color: inherit;
    border-color: inherit
}

.tg td {
    padding: 15px 15px;
}

.tg th {
    padding: 15px 15px;
}

.tg .symbol {
    width: 100px;
    color: #ffffff;
    text-align: center;
    font-size: 25px;
    font-weight: bold
}

.tg .nazwa {
    color: #ffffff;
    text-align: left;
}

.tg .kierownik {
    background-color: #ffffff;
    color: #000000;
    text-align: left
}

.tabela_pracownicy  {align-self:center;border-collapse:collapse;margin:0px auto;width: 100%;height: 100%;}
.tabela_pracownicy td{overflow:hidden;padding:18px 20px}
.tabela_pracownicy .tg-y1rm{background-color:#00618d;border-color:#00618d;color:#ffffff;text-align:center;vertical-align:middle}
.tabela_pracownicy .tg-euj1{background-color:#00618d;border-color:#00618d;color:#ffffff;text-align:left;vertical-align:top}
.tabela_pracownicy .tg-0pky{border:none; text-align:left;vertical-align:top}
.tabela_pracownicy .tg-73oq{border-bottom: solid #00618d 1px ;text-align:left;vertical-align:top}