* {
    box-sizing: border-box;
}

body {
    font-family: Cambria, serif;
    font-size: 17px;
    margin: 0;
}

.favnav {
    list-style-type: none;
    background-color: #00507b;
    margin: 0;
    padding: 0 10%;
    overflow: auto;
}

.favnav li{
    float: right;
}

.favnav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

.favnav li a:hover{
    background-color: #00618d;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}


.header{
    color: white;
    background-color: #00618d;
    margin: 0;
    padding: 10px 10%;
    overflow: auto;
}

.header h1 {
    margin-top: 20px;
    font-size: xx-large;
    margin-bottom: 25px;
}
.header h3{
    margin-top: -15px;
    font-size: large;
}

.logo_IM{
    display: block;
    float: left;
    width: auto;
}

.name_IM{
    display: block;
    float: left;
    width: auto;
}

.logo_PP_WARiE{
    display: block;
    float: right;
    width: auto;
}

.header img{
    float: left;
    width: 120px;
    height: auto;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.menu{
    color: white;
    height: 88px;
    position: sticky;
    top:0;

}

.primary_menu{
    padding: 0 10%;
    background-color: #00618d;
    overflow: auto;
}
.dropdown {
    transition-duration: 0.5s;
    float: left;
    overflow: hidden;
    font-family: Cambria, serif;
    font-size: 17px;
    color: white;
    width: 200px;
}

.dropdown .dropBtn{
     transition-duration: 0.5s;
     cursor: pointer;
     font: inherit;
     border: none;
     outline: none;
     color: inherit;
     width: inherit;
     padding: 12px 12px;
     background-color: inherit;
     margin: 0;
     text-align: left;
 }

.dropdown .dropBtn_fas{
    transition-duration: 0.5s;
    cursor: pointer;
    font: inherit;
    border: none;
    outline: none;
    color: inherit;
    width: inherit;
    padding: 12px 12px;
    background-color: #d873a6;
    margin: 0;
    text-align: left;
}

.dropdown .dropList{
    transition-duration: 0.5s;
    color: inherit;
    font: inherit;
    display: none;
    width: inherit;
    position: absolute;
    background-color: #00618d;
    min-width: inherit;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;

}

.dropdown .dropList a{
    transition-duration: 0.5s;
    color: inherit;
    font: inherit;
    float: none;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropList{
    transition-duration: 0.5s;
    display: block;
}

.dropdown:hover .dropBtn, .dropList a:hover, .dropBtn_fas:hover{
    transition-duration: 0.5s;
    background-color: #00507b;
}


.secondary_menu{
    padding: 0 10%;
    background-color: #00507b;
    overflow: auto;
}


.secondary_menu .dropBtn{
    transition-duration: 0.5s;
    float: left;
    overflow: hidden;
    font-family: Cambria, serif;
    font-size: 17px;
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    width: 200px;
    padding: 12px 12px;
    background-color: inherit;
    margin: 0;
    text-align: left;
}

.secondary_menu .dropBtn:hover{
    transition-duration: 0.5s;
    background-color: #fff;
    color: #00507b;
}
.content{
    height: auto;
}

.footer {
    width: 100%;
    background-color: #00507b;
    text-align: left;
    color:white;
    clear: both;
    font-size: 12px;
    position: absolute;
    height: fit-content;
    bottom: 0;
}

@media screen and (max-width: 1400px) {
    .favnav li a {
        padding: 10px 11px;
    }
}

@media screen and (max-width: 1200px) {
    .favnav li a {
        padding: 10px 10px;
    }
    .logo_PP_WARiE{
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .favnav li a {
        padding: 10px 9px;
    }

}

@media screen and (max-width: 800px) {
    .favnav li a {
        padding: 10px 8px;
    }
    .logo_IM{
        display: none;
    }
    .header h1{
        margin-top: 15px;
    }

}

@media screen and (max-width: 600px) {
    .favnav li a {
        padding: 10px 7px;
    }
    .favnav img{
        display: none;
    }
    .header h3{
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .favnav li a {
        padding: 10px 6px;
    }
}